/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/university/target/
/Project/StudentM/nbproject/private/
/Project/StudentM/build/
/Project/mavenproject1/target/
/Project/test1/target/
/Project/foodD/target/
